{% extends "base.html"%}

{%block head_title%}
	{{item.title}}
{%endblock%}

{% block content%}
	<div class="container" style="margin-top: 78px;">
		<div class="row content">
			<H1>{{item.title}}</H1>			
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="content">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-reponsive-item" src="{{item.video}}" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="content">
					<h3>Contributors</h3>

					{% for contributor in item.contributors.all %}
						<li>
							<ul>
								<a href="{{contributor.link}}">{{contributor.name}}</a>
							</ul>
						</li>
					{% endfor %}
				</div>
			</div>

			<div class="col-md-6">
				<div class="content">
					<h3>Description</h3>
					<p>{{item.description}}</p>
				</div>
			</div>

			<div class="col-md-3">
				<div class="content">
					<h3>Links</h3>

					{% for link in item.links.all %}
						<li>
							<ul>
								<a href="{{link.link}}">{{link.name}}</a>
							</ul>
						</li>
					{% endfor %}
				</div>
			</div>		
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="content">
					<h1>Comments</h1>
					{% include "fbcomments.html" %}
				</div>
			</div>
		</div>
	</div>
{%endblock%}