{% extends "base.html"%}

{%block head_title%}
	Art
{%endblock%}

{% block content%}
	<div class="container" style="margin-top: 78px;">
		<div class="row content">
			<H1>Art</H1>
			<p style="font-size:larger">While I am comfortable working in a terminal or command prompt the end user must come first so it is important to visually represent concepts as cleanly as possible. I am no great artist but I have produced some work that is suitable in a pinch.</p>
		</div>

		<div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="content">
					<h1>Project title</h1>
					<img class="thumbnail" src="#">
				</div>
			</div>
		</div>
	</div>
{%endblock%}