{% extends "base.html"%}
{% load staticfiles %}

{%block head_title%}
	Games
{%endblock%}

{% block content%}
	<div class="container" style="margin-top: 78px;">
		<div class="row content">
			<H1>Games</H1>
			<p style="font-size:larger">As a games programming student much of my learning has been in the context of games, here you can see games that I have contributed to or games that are personal projects. Most of these games were created for the learning experience or to achieve some creative goal, few are polished to a commercial standard.</p>
		</div>

		<div class="row">
			{%if list%}
				{% for item in list %}
					<div class="col-sm-6 col-md-3">
						<div class="content">
							<div class="thumbnail">
						   		<a href="/games/{{item.id}}/"><img src="{% static item.thumbnail %}"></a>
							</div>
						   	<a class="btn btn-block btn-primary" href="/games/{{item.id}}/" role="button"><p style="font-size:larger">{{item.title}}</p></a>
						</div>
					</div>
				{%endfor%}
			{%endif%}
		</div>
	</div>
{%endblock%}