{% extends "base.html"%}
{%load staticfiles%}
{% load custom_markdown %}

{%block head_title%}
	Home
{%endblock%}

{%block style%}
code{
	padding: 0px;
}

@media (max-width: 991px){
	code{
		margin: 5px;
	}
}

{%endblock%}

{%block content%}
	<div class="container">
		<div class="jumbotron">
			<div class="container">
				<div class "row">
					{# <img class ="col-xs-12 col-md-4" src="{% static 'home/img/me.jpg' %}"/> #}
					<div class="col-md-4">
						<h2><span class="blue">P</span>rogrammer</h2>
						<h3>&nbsp;&nbsp;<span class="blue">// </span>Games</h3>
						<h3>&nbsp;&nbsp;<span class="blue">// </span>Tools</h3>
						<h3>&nbsp;&nbsp;<span class="blue">// </span>Web</h3>
						<code class="prettyprint code">
							<pre>module Game;<br><br>import std.stdio;<br><br>void main() {<br>&nbsp;&nbsp;&nbsp;&nbsp;writeln("Hello World!");<br>}</pre>
						</code>
					</div>
					<div class="col-md-4">
						<h2><span class="blue">L</span>anguages</h2>
						<h3>&nbsp;&nbsp;<span class="blue">// </span>D</h3>
						<h3>&nbsp;&nbsp;<span class="blue">// </span>C++</h3>
						<h3>&nbsp;&nbsp;<span class="blue">// </span>C#</h3>
						<h3>&nbsp;&nbsp;<span class="blue">// </span>Python</h3>
						<h3>&nbsp;&nbsp;<span class="blue">// </span>PHP</h3>
						<h3>&nbsp;&nbsp;<span class="blue">// </span>Javascript</h3>
						<h3>&nbsp;&nbsp;<span class="blue">// </span>HTML</h3>
						<h3>&nbsp;&nbsp;<span class="blue">// </span>CSS</h3>
					</div>
					<div class="col-md-4">
						<h2><span class="blue">S</span>oftware</h2>
						<h3>&nbsp;&nbsp;<span class="blue">// </span>Sublime Text</h3>
						<h3>&nbsp;&nbsp;<span class="blue">// </span>Git</h3>
						<h3>&nbsp;&nbsp;<span class="blue">// </span>Visual Studio</h3>
						<h3>&nbsp;&nbsp;<span class="blue">// </span>Unity</h3>
						<h3>&nbsp;&nbsp;<span class="blue">// </span>Cgywin</h3>
						<h3>&nbsp;&nbsp;<span class="blue">// </span>Google Drive</h3>
						<h3>&nbsp;&nbsp;<span class="blue">// </span>Google Sheets</h3>
						<h3>&nbsp;&nbsp;<span class="blue">// </span>Gimp</h3>
					</div>
				</div>
			</div>
		</div>

		<div id="homeContainer" class="row">
			{% if blog %}
				<div class="col-md-4">
					<div class="content">
						<a href="{{blog.get_absolute_url}}"><h2>{{blog.title}}</h2></a>
						<article>
							<p>{{blog.body|custom_markdown}}</p>
						</article>
					</div>
				</div>
			{% endif %}
			{% if tut %}
				<div class="col-md-4">
					<div class="content home">
						<a href="{{tut.get_absolute_url}}"><h2>{{tut.title}}</h2></a>
						<p>{{tut.description|custom_markdown}}</p>
					</div>
				</div>
			{% endif %}
			{% if game %}
				<div class="col-md-4">
					<div class="content home">
						<a href="{{game.get_absolute_url}}"><h2>{{game.title}}</h2></a>
						<article>
							<p>{{game.description|custom_markdown}}</p>
						</article>
					</div>
				</div>			
			{% endif %}
	
			{% if app %}
				<div class="col-md-4">
					<div class="content home">
						<a href="{{app.get_absolute_url}}"><h2>{{app.title}}</h2></a>
						<article>
							<p>{{app.description|custom_markdown}}</p>
						</article>
					</div>
				</div>
			{% endif %}
			{% if tool %}
				<div class="col-md-4">
					<div class="content home">
						<a href="{{tool.get_absolute_url}}"><h2>{{tool.title}}</h2></a>
						<article>
							<p>{{tool.description|custom_markdown}}</p>
						</article>
					</div>
				</div>
			{% endif %}
			{% if lib %}
				<div class="col-md-4">
					<div class="content home">
						<a href="{{lib.get_absolute_url}}"><h2>{{lib.title}}</h2></a>
						<article>
							<p>{{lib.description|custom_markdown}}</p>
						</article>
					</div>
				</div>
			{% endif %}
		</div>		
	</div>
{%endblock%}