{%extends "home/base.html" %}
{%load staticfiles%}

{%block head_title%}
	Home
{%endblock%}

{%block style%}
code{
	padding: 0px;
}

@media (max-width: 991px){
	code{
		margin: 5px;
	}
}

{%endblock%}

{%block content%}
	<div class="container">
		<div class="jumbotron">
			<div class="container">
				<div class "row">
					<img class ="col-xs-12 col-md-4" src="{% static 'home/img/me.jpg' %}"/>
					<div class="col-xs-12 col-md-8">
						<code class="prettyprint">
							<div class="code">
								<pre>module Game;<br><br>import std.stdio;<br><br>void main() {<br>	writeln("Hello World!");<br>}</pre>
							</div>
						</code>
						<p id="description" style="font-size:larger">
							Hello, My name is Joshua Hodkinson, and I use this site to share and communicate my progress as a student game programmer. I will post games I make, code snippets I have written, tools I have designed and anything else I deem relevant or useful on my journey. I am fluent writing in C#, confident in C++ and D. Recently I have also learnt python and django which I used to build this site. I am very comfortable working in Unity but otherwise don't try to limit myself to any particular development environment. My aim is to make other people's jobs easier, the tools that I use to achieve this matter less than the time I save those people. I am happy to give any problem a go and welcome any feedback that will help me become a better programmer.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="content">
					<a href="#" style="color:#cab974;"><h2>Recent Blog</h2></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et felis sit amet nunc pellentesque volutpat sed vel arcu. Donec quis purus mollis velit tristique ultricies. In ac finibus sem. Vestibulum malesuada tristique eros, eu tincidunt magna. Integer non felis eu nisi elementum semper et sit amet nunc. Etiam auctor ultricies ipsum maximus facilisis. Donec ac semper nunc. Nam elementum augue id odio tristique ornare. Donec non arcu porttitor, egestas quam quis, pretium ex. Donec posuere consequat euismod. Quisque sit amet magna tellus. Integer quis dignissim arcu, in sodales ligula. Duis ultrices, metus ac tempus porta, quam ligula imperdiet enim, ut fermentum sapien enim sit amet urna. Nunc gravida vestibulum magna, a fermentum eros fringilla nec.</p>
					<a class="btn btn-block btn-primary" href="#" role="button">Read More</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="content">
					<a href="#" style="color:#cab974;"><h2>Recent Portfolio Piece</h2></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et felis sit amet nunc pellentesque volutpat sed vel arcu. Donec quis purus mollis velit tristique ultricies. In ac finibus sem. Vestibulum malesuada tristique eros, eu tincidunt magna. Integer non felis eu nisi elementum semper et sit amet nunc. Etiam auctor ultricies ipsum maximus facilisis. Donec ac semper nunc. Nam elementum augue id odio tristique ornare. Donec non arcu porttitor, egestas quam quis, pretium ex. Donec posuere consequat euismod. Quisque sit amet magna tellus. Integer quis dignissim arcu, in sodales ligula. Duis ultrices, metus ac tempus porta, quam ligula imperdiet enim, ut fermentum sapien enim sit amet urna. Nunc gravida vestibulum magna, a fermentum eros fringilla nec.</p>
					<a class="btn btn-block btn-primary" href="#" role="button">Read More</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="content">
					<a href="#" style="color:#cab974;"><h2>Recent Tutorial</h2></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et felis sit amet nunc pellentesque volutpat sed vel arcu. Donec quis purus mollis velit tristique ultricies. In ac finibus sem. Vestibulum malesuada tristique eros, eu tincidunt magna. Integer non felis eu nisi elementum semper et sit amet nunc. Etiam auctor ultricies ipsum maximus facilisis. Donec ac semper nunc. Nam elementum augue id odio tristique ornare. Donec non arcu porttitor, egestas quam quis, pretium ex. Donec posuere consequat euismod. Quisque sit amet magna tellus. Integer quis dignissim arcu, in sodales ligula. Duis ultrices, metus ac tempus porta, quam ligula imperdiet enim, ut fermentum sapien enim sit amet urna. Nunc gravida vestibulum magna, a fermentum eros fringilla nec.</p>
					<a class="btn btn-block btn-primary" href="#" role="button">Read More</a>
				</div>
			</div>
		</div>		
	</div>
{%endblock%}