{% extends "base.html"%}
{%load staticfiles%}
{% load custom_markdown %}

{%block head_title%}
	Home
{%endblock%}

{%block style%}
code{
	padding: 0px;
}

@media (max-width: 991px){
	code{
		margin: 5px;
	}
}

{%endblock%}

{%block content%}
	<div class="container">
		<div class="jumbotron">
			<div class="container">
				<div class "row">
					<img class ="col-xs-12 col-md-4" src="{% static 'home/img/me.jpg' %}"/>
					<div class="col-xs-12 col-md-8">
						<code class="prettyprint code">
							<pre>module Game;<br><br>import std.stdio;<br><br>void main() {<br>&nbsp;&nbsp;&nbsp;&nbsp;writeln("Hello World!");<br>}</pre>
						</code>
						<p id="description" style="font-size:larger">
							Hello, My name is Joshua Hodkinson, and I use this site to share and communicate my progress as a student game programmer. I will post games I make, code snippets I have written, tools I have designed and anything else I deem relevant or useful on my journey. I am fluent writing in C#, confident in C++ and D. Recently I have also learnt python and django which I used to build this site. I am very comfortable working in Unity but otherwise don't try to limit myself to any particular development environment. My aim is to make other peoples' jobs easier, the tools that I use to achieve this matter less than the time I save those people. I am happy to give any problem a go and welcome any feedback that will help me become a better programmer.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			{% if blog %}
				<div class="col-md-4">
					<div class="content">
						<a href="{{blog.get_absolute_url}}" style="color:#cab974;"><h2>{{blog.title}}</h2></a>
						<article>
							<p>{{blog.body|custom_markdown}}</p>
						</article>
					</div>
				</div>
			{% endif %}
			{% if tut %}
				<div class="col-md-4">
					<div class="content home">
						<a href="{{tut.get_absolute_url}}" style="color:#cab974;"><h2>{{tut.title}}</h2></a>
						<p>{{tut.description|custom_markdown}}</p>
					</div>
				</div>
			{% endif %}
			{% if game %}
				<div class="col-md-4">
					<div class="content home">
						<a href="{{game.get_absolute_url}}" style="color:#cab974;"><h2>{{game.title}}</h2></a>
						<p>{{game.description|custom_markdown}}</p>
					</div>
				</div>			
			{% endif %}
	
			{% if app %}
				<div class="col-md-4">
					<div class="content home">
						<a href="{{app.get_absolute_url}}" style="color:#cab974;"><h2>{{app.title}}</h2></a>
						<p>{{app.description|custom_markdown}}</p>
					</div>
				</div>
			{% endif %}
			{% if tool %}
				<div class="col-md-4">
					<div class="content home">
						<a href="{{tool.get_absolute_url}}" style="color:#cab974;"><h2>{{tool.title}}</h2></a>
						<p>{{tool.description|custom_markdown}}</p>
					</div>
				</div>
			{% endif %}
			{% if lib %}
				<div class="col-md-4">
					<div class="content home">
						<a href="{{lib.get_absolute_url}}" style="color:#cab974;"><h2>{{lib.title}}</h2></a>
						<p>{{lib.description|custom_markdown}}</p>
					</div>
				</div>
			{% endif %}
		</div>		
	</div>
{%endblock%}