{% extends "base.html"%}
{% load staticfiles %}

{%block head_title%}
	Libraries
{%endblock%}

{% block content%}
	<div class="container" style="margin-top: 78px;">
		<div class="row content">
			<H1>Libraries</H1>
			<p style="font-size:larger">On this page you will find libraries and APIs that I have contributed to. Useful, streamlined and decoupled APIs allow developers to produce work without reinventing the wheel first, for me this runs in the same vein as tool development, I want to make other people's jobs easier and by providing robust libraries that I have worked should be shared. I greatly appreciate any feedback or suggestions.</p>
		</div>

		<div class="row">
			{%if list%}
				{% for item in list %}
					<div class="col-sm-6 col-md-3">
						<div class="content">
							<div class="thumbnail">
						   		<a href="/libraries/{{item.id}}/"><img src="{% static item.thumbnail %}"></a>
							</div>
						   	<a class="btn btn-block btn-primary" href="/libraries/{{item.id}}/" role="button"><p style="font-size:larger">{{item.title}}</p></a>
						</div>
					</div>
				{%endfor%}
			{%endif%}
		</div>
	</div>
{%endblock%}