<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'home' %}">Student Game Programmer</a>
		</div>

		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right" id ="boldText">
				<li>
					<a href="http://joshuahodkinson.tumblr.com">Blog</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle", data-toggle="dropdown" role="button" aria-expanded="false">Portfolio<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="{% url 'games' %}">Games</a>
						</li>
						<li>
							<a href="#">Apps</a>
						</li>
						<li>
							<a href="#">Tools</a>
						</li>
						<li>
							<a href="#">Libraries</a>
						</li>
						<li>
							<a href="#">Web</a>
						</li>
						<li>
							<a href="#">Placeholder Art</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle", data-toggle="dropdown" role="button" aria-expanded="false">Tutorials<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#">HexGrids</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle", data-toggle="dropdown" role="button" aria-expanded="false">Links<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="https://www.facebook.com/joshua.hodkinson">Facebook</a>
						</li>
						<li>
							<a href="https://twitter.com/jbwhodkinson">Twitter</a>
						</li>
						<li>
							<a href="https://github.com/Amaranthos">GitHub</a>
						</li>
						<li>
							<a href="https://bitbucket.org/amaranthos">BitBucket</a>
						</li>
						<li>
							<a href="https://www.youtube.com/channel/UC4VaUP2Ob7I6avrajgBm70w">Youtube</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>