{% extends "base.html"%}
{% load staticfiles %}

{%block head_title%}
	Tools
{%endblock%}

{% block content%}
	<div class="container" style="margin-top: 78px;">
		<div class="row content">
			<H1>Tools</H1>
			<p style="font-size:larger">While progressing through my studies I came to the realisation that I most enjoy make other people's jobs simpler/faster/more efficient. This allows me to think creatively about problems as well as maintaining efficient and fast code. Here you can find various tools that I have worked on and would like to share with the community, I would also appreciate feed back and suggestions so that I can improve these tools.</p>
		</div>

		<div class="row">
			{%if list%}
				{% for item in list %}
					<div class="col-sm-6 col-md-3">
						<div class="content">
							<div class="thumbnail">
						   		<a href="{{item.get_absolute_url}}"><img src="{% static item.thumbnail.url %}"></a>
							</div>
						   	<a class="btn btn-block btn-primary" href="{{item.get_absolute_url}}" role="button"><p style="font-size:larger">{{item.title}}</p></a>
						</div>
					</div>
				{%endfor%}
			{%endif%}
		</div>
	</div>
{%endblock%}