{% extends "base.html"%}
{% load staticfiles %}

{%block head_title%}
	Web
{%endblock%}

{% block content%}
	<div class="container" style="margin-top: 78px;">
		<div class="row content">
			<H1>Web</H1>
			<p style="font-size:larger">Versatility is a great tool for a programmer, this holds especially true when selecting a language to solve a problem. Not every lanaguage is suited to every problem so I make an effort to familiarize myself with as many areas as possible. One such area is web development; the internet is an integral part of today's society so it becomes important for a programmer to be at least passingly acquainted with full stack development. Here you can find some of the web projects I have worked on.</p>
		</div>

		<div class="row">
			{%if list%}
				{% for item in list %}
					<div class="col-sm-6 col-md-3">
						<div class="content">
							<div class="thumbnail">
						   		<a href="{{item.link}}"><img src="{% static item.thumbnail.url %}"></a>
							</div>
						   	<a class="btn btn-block btn-primary" href="{{item.link}}" role="button"><p style="font-size:larger">{{item.title}}</p></a>
						</div>
					</div>
				{%endfor%}
			{%endif%}
		</div>
	</div>
{%endblock%}