body {
	background-color: #1b1b1b;
	color: rgba(255, 255, 255, 0.7);
	font-family: 'Orbitron', sans-serif;
}

.h1, .h2, .h3, h1, h2, h3 {
	margin: 10px 5px;
}

p {
	margin: 5px;
	font-family: 'Play', sans-serif;
}

.container .jumbotron {
	border-radius: 0;
}

pre {
	background-color: rgba(255, 255, 255, 0.7);
}

.jumbotron {
	margin: 78px 5px 15px;
	background-color: #313131;
}

.dropdown-menu>li>a:hover{
	background-color: #64B5F6;
}

.navbar-inverse {
	background-image: none !important;
	background-color: #121212;
	border-color: #121212;
}

.navbar-inverse .navbar-nav>li>a:first-letter {
	color: #64B5F6;
}

.navbar-inverse .navbar-toggle {
	border-color: #64B5F6;
	border-radius: 0px;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #64B5F6;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	color: #FFFFFF;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:first-letter{
	color: #64B5F6;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover:first-letter{
	color: #FFFFFF;
}

.dropdown-menu {
	background-color: #121212;
}


.content {
	margin: 15px 5px;
	padding: 10px;
	background-color: #313131;
	color: rgba(255, 255, 255, 0.7);
	font-size: larger;
}

.btn .btn-block .btn-primary {
	color: rgba(255, 255, 255, 0.7);
}

.fb-comments, .fb-comments iframe[style], .fb-comments span {
	width: 100% !important;
}

.blue {
	color: #64B5F6 !important;
}

.btn {
	border-radius: 0px;
}