{% extends "base.html"%}
{% load staticfiles %}
{% load custom_markdown %}

{%block head_title%}
	Blog
{%endblock%}

{% block content%}
	<div class="container" style="margin-top: 78px;">
		<div class="row content">
			<H1>Blog</H1>
			<p>As a developer it is important for me to reflect on my practices, reflection on the process allows me to draw the greatest understanding possible. Having not learnt from a mistake makes the mistake not worth having been made; the same could be said for successful actions too.</p>
		</div>

		<div class="row">
			{% if posts %}
				{% for post in posts %}
					<div class="col-xs-12">
						<div class="content" style="padding: 50px 75px;">
							<h2><a href="{{post.get_absolute_url}}" style="color:#cab974;">{{post.title}}</a><small>&nbsp;&nbsp;{{post.posted}}</small></h2>
							<p>{{post.body|custom_markdown}}</p>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>

		<div class="row content" {# style="margin-top:78px;" #}>
			<H1>Index</H1>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<div class="content">
					<h2>Categories</h2>
					{% if categories %}
						<ul>
							{% for cat in categories %}
								<li>
									<a href="{{cat.get_absolute_url}}">{{cat.title}}</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			</div>
			<div class="col-sm-4">
				<div class="content">
					<h2>Tags</h2>
					{% if tags %}
						<ul>
							{% for tag in tags %}
								<li>
									<a href="{{tag.get_absolute_url}}">{{tag.title}}</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>				
			</div>
			<div class="col-sm-4">
				<div class="content">
					<h2>Date</h2>
					{% if dates %}
						<ul>
							{% for d in dates %}
								<li>
									<a href="{% url 'blog' %}date/{{d.year}}/{{d.month}}/">{{d|date:"M Y"}}</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>				
			</div>
		</div>
	</div>
{%endblock%}