{% extends 'base.html' %}
{% load custom_markdown %}

{%block head_title%}
	{{flatpage.title}}
{%endblock%}

{%block style%}
h1 {
	color: #64B5F6;
}

h3:first-letter{
	color: #64B5F6;
}

.content>ul li {
	list-style-type: none;

}

.content>ul li::before {
	content: '\2022';
	color: #64B5F6;
	padding-right: 0.5em;
}

{%endblock%}

{% block content%}
<div class="container" style="margin-top: 78px;">
	<div class="row">
		<div class="content"style="margin: 0 auto;width: 60%;padding: 3em;">
			{{flatpage.content|custom_markdown}}
		</div>
	</div>
</div>
{% endblock%}